img.logo.logo-dark,
img.logo-dark,
img.logo-light {
    width: 64px;
}

li.nav-item {
    text-transform: uppercase;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    letter-spacing: normal;
    font-size: 13px;
}

.contact-item span {
    /*font-weight: 600;*/
    font-size: 13px;
    color: #0092e0;
}

.contact-container-flex {
	display: flex;
    column-gap: 1.5rem;
}

.contact-top {
	border-bottom: 1px rgb(0 146 224 / 20%) solid;
	padding: 5px;
}

.tp-bullet.selected, .tp-bullet:hover {
    background: #fff401;
}

.tp-bullet {
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.btn {
    border-radius: unset;
}

.btn-mac {
    color: #ffffff;
    background-color: #0092e0;
    border-color: #0092e0;
}

.btn-mac:hover {
    color: #fff;
}

.form-control-lg, .form-select-lg {
    border-radius: unset !important;
}

#footer {
	padding-top: 0;
}

.section-title {
    font-size: 5rem !important;
    color: #0092e0;
    font-family: serif;
}

.text-right {
	text-align: right !important;
}

#scroll-top {
    color: #ffffff;
    border: 1px solid #0092e0;
    background: #0092e0;
    width: 4rem;
    height: 4rem;
}

.portfolio-item-title h4 a {
	font-size: 20px;
	color: #0092e0;
	/*text-transform: uppercase;*/
}

h4.member-name {
    font-size: 20px;
    color: #0092e0;
    text-align: center;
    background: #fff;
    padding: 5px;
    text-transform: uppercase;
}

.portfolio-item-title{
	padding: 2.3rem;
	background: #fff;
}

li.portfolio-item {
    padding: 2rem;
}

.portfolio-overlay {
    background: rgb(0 0 0 / 40%);
} 

.portfolio-title a {
    color: #ffffff;
}

.portfolio-item-wrapper {
    max-height: 188px;
}

section#our-vision {
    margin: 50px !important;
    padding: 50px !important;
    /*box-shadow: 0px 4px 30px -4px rgb(0 0 0 / 20%);*/
    border: 1px #0092e0 solid;
}

.values-img img {
	width: 100%;
}

#our-values .row,
.bg-mac{
	background: #0092e0;
}

.values-desc {
	margin: 5rem;
}

article.article.wow {
	border-radius: unset;
	box-shadow: 0px 4px 30px -4px rgb(0 0 0 / 20%);
}

.timeline-date.first {
    margin-top: 0;
    border-radius: unset;
    background: #0092e0;
    color: #fff;
}

.timeline-container:after,
.article-timeline-date:after,
.article-timeline-date:before {
    background: #f8d61b;
}

.nav-tabs.flex-column .nav-link.active {
    background-color: #0092e0;
    color: #fff;
}

.nav-tabs.flex-column .nav-link {
    text-align: left;
    text-transform: unset;
}

.text-left {
    text-align: left !important;
}