body,section {
    font-family: 'Fira Sans', sans-serif !important;
}

img.logo.logo-dark,
img.logo-dark,
img.logo-light {
    width: 64px;
}

li.nav-item {
    text-transform: uppercase;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    letter-spacing: normal;
    font-size: 13px;
}

.contact-item span {
    /*font-weight: 600;*/
    font-size: 13px;
    color: #0092e0;
}

.contact-container-flex {
	display: flex;
    column-gap: 1.5rem;
}

.contact-top {
	border-bottom: 1px rgb(0 146 224 / 20%) solid;
	padding: 5px;
}

.tp-bullet.selected, .tp-bullet:hover {
    background: #fff401;
}

.tp-bullet {
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.btn {
    border-radius: unset;
}

.btn-mac {
    color: #ffffff;
    background-color: #0092e0;
    border-color: #0092e0;
}

.btn-mac:hover {
    color: #fff;
}

.form-control-lg, .form-select-lg {
    border-radius: unset !important;
}

#footer {
	padding-top: 0;
    padding-bottom: 0.rem;
}

.section-title {
    font-size: 5rem !important;
    color: #0092e0;
    font-family: serif;
}

.text-right {
	text-align: right !important;
}

#scroll-top {
    color: #ffffff;
    border: 1px solid #0092e0;
    background: #0092e0;
    width: 4rem;
    height: 4rem;
}

.portfolio-item-title h4 a,
.service-item-title h4 a {
	font-size: 12px;
	color: #0092e0;
	text-transform: uppercase;
}

h4.member-name {
    font-size: 15px;
    color: #0092e0;
    text-align: center;
    background: #fff;
    padding: 5px;
    text-transform: uppercase;
}

.portfolio-item-title{
	/*padding: 2.3rem;*/
	background: #fff;
    min-height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
}

li.portfolio-item {
    padding: 2rem;
}

.portfolio-overlay {
    background: rgb(0 0 0 / 40%);
} 

.portfolio-title a {
    color: #ffffff;
}

.portfolio-item-wrapper {
    max-height: 188px;
    border-bottom: none;
}

section#our-vision {
    margin: 50px !important;
    padding: 50px !important;
    /*box-shadow: 0px 4px 30px -4px rgb(0 0 0 / 20%);*/
    border: 1px #0092e0 solid;
}

.values-img img {
	width: 100%;
}

#our-values,
.bg-mac{
	background: #0092e0;
}

.values-desc {
	padding: 6rem;
}

article.article.wow {
	border-radius: unset;
	box-shadow: 0px 4px 30px -4px rgb(0 0 0 / 20%);
}

.timeline-date.first {
    margin-top: 0;
    border-radius: unset;
    background: #0092e0;
    color: #fff;
}

.timeline-container:after,
.article-timeline-date:after,
.article-timeline-date:before {
    background: #f8d61b;
}

.nav-tabs.flex-column .nav-link.active {
    background-color: #0092e0;
    color: #fff;
}

.nav-tabs.flex-column .nav-link {
    text-align: left;
    text-transform: unset;
}

.text-left {
    text-align: left !important;
}


/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  /*border-radius: 21px;*/
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  /*border-radius: 5px;*/
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.breadcrumb-mac{
    font-size: 20px;
}

.brands {
    width: 100%;
    padding-top: 0;
    padding-bottom: 90px
}

.brands_slider_container {
    height: 130px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-left: 97px;
    padding-right: 97px;
    background: #fff
}

.brands_slider {
    height: 100%;
    margin-top: 40px
}

.brands_item {
    height: 100%
}

.brands_item img {
    max-width: 50px;
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer
}

.brands_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.brands_nav:hover i {
    color: #676767
}

.brands_prev {
    left: 40px
}

.brands_next {
    right: 40px
}

.section-pd {
    padding: 10rem;
}

.mac_slider_item {
    width: 300px;
    background: #fff;
    padding: 20px;
    cursor: pointer;
}

.mac_slider_img {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mac_slider_item img {
    max-width: 50px;
}

.mac_slider_container {
    height: auto;
}

.mac_slider_title h4,
.service-item-title h4 {
    text-align: center;
    text-transform: uppercase !important;
}

.customer_item {
    width: 150px !important;
}

.owl-carousel{
    display: flex !important;  // to override display:bloc i added !important
    flex-direction: row;   
    justify-content: center;  // to center you carousel
}

.no-bg{
    background: unset !important;
}

.page-title {
    font-family: serif;
    font-size: 7rem !important;
}

.contact-info-icon {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
}


.text-dark .footer-social-icons {
     background-color: unset !important; 
}

.contact-info-box .contact-info-list li,
.contact-info-box .contact-info-list li a {
    color: #0192e0;
}

.footer-social-icons {
   padding-top: 2rem;
    margin: 0;
    padding-bottom: 0;
}

#footer p {
    font-weight: bold;
    font-size: 1.5rem;
}

#map {
    height: 440px !important;
}

.service-item-img {
    width: 75px;
    margin: auto;
    padding: 10px;
}

.service-container{
    column-count: 5;
}

.d-click {
    cursor: pointer;
}

.p-50 {
    padding: 0 50px !important;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #0092e0 !important;
}

@media (max-width: 576px) {
    .portfolio-item-title h4 a, .service-item-title h4 a {
        font-size: 10px;
    }

    .service-item-img {
        width: 60px;
    }

    .mac_slider_title h4, .service-item-title h4 {
        line-height: 10px;
    }
}

@media (max-width: 360px) {
    section#our-vision {
        overflow: auto;
        max-height: 495px;
        margin: 15px !important;
        padding: 15px !important;
    }

    .section-title {
        font-size: 4rem !important;
    }
}

.portfolio-item img {
    max-height: 180px !important;
    min-height: 180px !important;
}

#home-768{
    display: none;
}

@media (max-width: 767px) {
  #home {
    display: none;
  }

  #home-768{
    display: block;
  }


    .slider-768-item .slider-768-img {
        height: 416px;
        width: 738px;
    }
    .slider-768-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 82px;
        background: #0092e0;
    }

    .slider-768-title {
        color: #fff401;
        font-weight: 600;
    }

    .slider-768-subtitle {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

}

@media (max-width: 430px) {
    .slider-768-item .slider-768-img {
        height: 260px;
        width: 360px;
    }

}

.member-desc {
    margin-top: 20px;
}

.member-desc h2{
    font-size: 15px;
}

.member-desc h3{
    font-size: 12px;
}